@using DataDashboard.Models
@model IEnumerable<ClientViewModel>
@{
	ViewData["Title"] = "Client Dashboard";
    
}

<table class="table table-borderless table-wrapper">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last IP</th>
            <th>Cpu Id</th>

        </tr>
    </thead>
    <tbody class="accordion">
        @foreach (var item in Model)
        {
            <tr class="accordion-item" data-bs-toggle="collapse" data-bs-target="#A_@item.Id" aria-expanded="true">
                @* <div class="accordion-header accordion-button" data-bs-toggle="collapse" data-bs-target="#A_@item.Id" aria-expanded="true" aria-controls="collapseOne"></div> *@
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.LastIP</td>
                <td>@item.CpuId</td>
            </tr>
            <tr id="A_@item.Id" class="collapse overflow-x-auto">
                <td class="accordion-body " colspan="4">
                    <h5 class="text-center">Client information:</h5>
                    <div>System MAC Address: @item.MAC</div> <br />
                    <div>RAM Capacity: @item.RAMCapacity kB</div> <br />
                    <div>Operating system: @item.OS</div> <br />
                </td>
            </tr>
        }
    </tbody>
</table>


